<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CasaEsther.My.MySettings.CasaEstherConnectionString"
            connectionString="Data Source=Victor-PC;Initial Catalog=CasaEsther;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CasaEsther.My.MySettings.CasaEstherConnectionString1"
            connectionString="Data Source=LUCY;Initial Catalog=CasaEsther;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>